
body {
    font-size:15px;
    background:linear-gradient(#2ba4d3, #00b7c2);
    
}

p {
    font-size: 18px;
}

.eeeeeee {
    font-size: 35px;
    color: yellow;
}

#error {
    font-size: 50px;
    color: red;
}

#error:active {
    transition: font-size 12s;
    font-size: 75px;
    color: blue;
    animation-delay: 2s;
}

.cidades {
    margin: 5% 8% 20% 10%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.round3 {
    
    color: #173f5f;
    border: 2px solid #1564a2;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
  }

  img:hover {
    opacity: 0.8;
  }

 
@media (max-width: 425px) { 
    .imagem-cidade {
        width: 80%;
    }
}

